body{
    background-image: url(../../html/img/tecnologia.webp);
}

h2{
    color: white;
}

img{
    max-width: 30%;
    height: auto;
    
}

.grid-item{
    text-align: center;
    
}

ul li{
    color: white;
}

a{
    color: antiquewhite;
}

a:hover{
    color: blue;
    
}